#map { height: 45em; width: 100%; margin: 0; padding: 20em; overflow: hidden; }
        .nicebox {
          position: absolute;
          text-align: center;
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          z-index: 5;
          box-shadow: 0 4px 6px -4px #333;
          padding: 5px 10px;
          background: rgb(255,255,255);
          background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
          border: rgb(229, 229, 229) 1px solid;
          margin-top: 4em;
          margin-left: 6.5em;
        }
        #controls {
          top: 10px;
          left: 110px;
          width: 360px;
          height: 60px;
        }
        #data-box {
          top: 10px;
          left: 500px;
          height: 45px;
          line-height: 45px;
          display: none;
        }
        #census-variable {
          width: 360px;
          height: 20px;
        }
        #legend { display: flex; display: -webkit-box; padding-top: 7px}
        .color-key {
          /*CUSTOMISE ACCORDING TO THE NUMBER OF COLOURS WANTED*/
          background: linear-gradient(to right,
            hsl(35, 100%, 85%) 0%,
            hsl(35, 100%, 85%) 10%,
            hsl(35, 100%, 65%) 25%,
            hsl(35, 100%, 45%) 50%,
            hsl(35, 100%, 25%) 75%,
            hsl(35, 100%, 5%) 100%);
          flex: 1;
          -webkit-box-flex: 1;
          margin: 0 5px;
          text-align: left;
          font-size: 1.0em;
          line-height: 1.0em;
        }
        #data-value { font-size: 2.0em; font-weight: bold }
        #data-label { font-size: 2.0em; font-weight: normal; padding-right: 10px; }
        #data-label:after { content: ':' }
        #data-caret { margin-left: -5px; display: none; font-size: 14px; width: 14px}

        #leg{
          height: 200px;
          background-color: antiquewhite;
          border: 1px solid black;
        }

        #col{
          height: 20px;
          width: 20px;
          border: 1px solid ;
        }